<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="XpoProvider=MSSqlServer;Data Source=192.168.0.239;User ID=sa;Password=qwer1234!;Initial Catalog=DBIPS4_Import;Persist Security Info=true"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IService" sendTimeout="00:10:00" receiveTimeout="00:10:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="5242880000">
          <readerQuotas maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" />
          <security mode="None">
          </security>
        </binding>
        <binding name="NetTcpBinding_IWcfFileTransfer">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IMessage">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://192.168.0.239:1989/IPSService" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IService" contract="IPSPServices.IService"
        name="NetTcpBinding_IService" behaviorConfiguration="ServiceBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ServiceBehavior">
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>