<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Connection" connectionString="XpoProvider=MSSqlServer;Data Source=192.168.0.239;User ID=sa;Password=qwer1324!;Initial Catalog=DBIPS4_PA;Persist Security Info=true"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1989/IPSService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IService" contract="IPSPServices.IService"
                name="NetTcpBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>